name: Daily Job Scraper

on:
  schedule:
    - cron: '0 9 * * *' # Runs daily at 9:00 AM
  workflow_dispatch: # Allows manual button click

jobs:
  update-jobs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Tools
        run: pip install requests beautifulsoup4

      - name: Run The Robot
        run: python scraper.py

      - name: Save Results
        run: |
          git config --global user.name "ProleeficBot"
          git config --global user.email "bot@proleefic.com"
          git add jobs.json
          git commit -m "New jobs found [skip ci]" || exit 0
          git push
